body{
    background-image: url('back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    list-style-type: none;
    margin-left:50px;
    padding:30px;
    text-align:center; 
}
li{
    float:none;
    font-size:20px;
    display:inline;
    margin-inline: 25px;
    border:none;
    background-color:violet; 
    border-radius:0.85rem;
}
li a:hover{
    background-color: white;
    border:none;
    border-radius:1rem;
} 
.topleft{
    margin-top: 25px;
    margin-left:20px;
    font-size: 6vmin;
    font-family:Georgia, 'Times New Roman', Times, serif;
} 
p{
    text-align:center;
    justify-content:center;
    margin-left:30px;
    margin-right:30px;
    text-align:center;
    justify-content:center;
}
.text{
    text-align:center;
    justify-content:center;
}